@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoSans;
  src: url('./assets/fonts/NotoSansThai-Medium.ttf');
}

#root {
  font-family: NotoSans;
  font-size: 17px;
}


:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
  overflow: hidden;
  scrollbar-gutter: auto !important;
}
.mHisf {
  font-size: .85rem;
  font-weight: 600;
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #f1f3f4 !important;
  color: #3a3a3a;
  min-height: 52px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, .12);
  border-bottom-style: solid;
}
.fpBGKh, .fNLvxm, .huezRP, .cYgWVI, .bdUBmV {
  position: static !important;
}

